<div class="slider">
  <a href="/set/<%= latestSets[0].id %>">
    <div class="label">
      <div class="label-text"><%= latestSets[0].name %></div>
    </div>
    <img class="carousel-img" src="<%= latestSets[0].image_url %>" alt="<%= latestSets[0].name %>"></a>
  </a>
  <a href="/set/<%= latestSets[1].id %>">
    <div class="label">
      <div class="label-text"><%= latestSets[1].name %></div>
    </div>
    <img class="carousel-img" src="<%= latestSets[1].image_url %>" alt="<%= latestSets[1].name %>">
  </a>
  <a href="/set/<%= latestSets[2].id %>">
    <div class="label">
      <div class="label-text"><%= latestSets[2].name %></div>
    </div>
    <img class="carousel-img" src="<%= latestSets[2].image_url %>" alt="<%= latestSets[2].name %>">
  </a>
  <a href="/set/<%= latestSets[3].id %>">
    <div class="label">
      <div class="label-text"><%= latestSets[3].name %></div>
    </div>
    <img class="carousel-img" src="<%= latestSets[3].image_url %>" alt="<%= latestSets[3].name %>">
  </a>
  
</div>